<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kvíz vége</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Fredoka:wght@600&display=swap" rel="stylesheet">

</head>
<body>
  <div class="end-container">
    <h1>Kvíz vége 🎉</h1>
    <p id="final-score">Elért pontszám: 0</p>
    <p id="correct-answers">Helyes válaszok: 0/0</p>

    <h2>Ranglista</h2>
    <ol id="leaderboard"></ol>

    <button onclick="restartGame()" id="button">Új játék</button>
    <button onclick="window.location.href ='/review'">Áttekintés</button>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
