<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Fredoka:wght@600&display=swap" rel="stylesheet">

  <title>Quiz Game</title>


  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="card">
    <h1>Interaktív Quiz Game</h1>
    <input type="text" placeholder="Írd be a neved" id="playerName">
    <button onclick="startGame()" id="button">Játék indítása</button>
  </div>


  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
